@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
    Page.Title = "Modificar Datos Jugador";
    
    var licencia = Request["licencia"];;
	var nombre = "";
	var apellidos = "";
    var categoria = "";

    Validation.RequireField("nombre","Es necesario introducir un nombre.");

    Validation.RequireField("apellidos","Es necesario introducir un apellido.");

    Validation.RequireField("categoria","Es necesario introducir una categoria.");

	if(IsPost)
	{
		nombre = Request["nombre"];
		apellidos = Request["apellidos"];
        categoria = Request["categoria"];

		if(Validation.IsValid())
		{				
			
			var db = Database.Open("CircuitosTorneo");
		    var Sql = @"UPDATE Jugadores SET Nombre=@0, Apellidos=@1, Categoria=@2 WHERE Licencia=@3";

		    var jugador=db.Execute(Sql, nombre, apellidos, categoria, licencia);	
            if(jugador == 0)
            {
                Response.Redirect("ModificacionIncorrecta");
            }
            else
            {
                Response.Redirect("ModificacionCorrecta");
            }          
		}

	}
}
<h2>@Page.Title</h2>
<form action="Modificar" method="post">
        @Html.Hidden("licencia", licencia)
    <p>
        @Html.Label("Nombre: ", "nombre")
        @Html.TextBox("nombre", nombre)
	    @Html.ValidationMessage("nombre")
    </p>
    <p>
        @Html.Label("Apellidos: ", "apellidos")
        @Html.TextBox("apellidos", apellidos)
	    @Html.ValidationMessage("apellidos")
    </p>
    <p>
        @Html.Label("Categoria: ", "categoria")
        @Html.TextBox("categoria", categoria)
	    @Html.ValidationMessage("categoria")
    </p>
    <br />
    <input type="submit" class="myButton" value="Modificar"/><br />
    <a id="inicio" href="~/default">Volver al Inicio</a>
</form>


